*{
	box-sizing: border-box;

}
body{
	background-color: white ;
}
h1{
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	color: red;
	margin-top: 30px;
	font-family: sans-serif;
}
.section{
	position: relative;
 	
 	margin: 15px; 
}
.p1{
	border: 2px solid black;
	background-color: lightgray;
	position: relative;
	margin: 10px;
	padding: 15px;

}
.sectiontop{
	
	position: absolute;
	top: 0px;
	right: 0px;
	margin-bottom: 2px;
}
#chicken{
	background-color: lightpink;
	font-size: 20px;
	font-weight: bold;
	
}
#beef{
	background-color: red;
	font-size: 20px;
	font-weight: bold;

}
#sushi{
	background-color: lightyellow;
	font-size: 20px;
	font-weight: bold;
}
p{
	text-align: justify;
	font-size: 100%;
	margin-top: 10px;
}

@media (min-width: 992px) {
	.container1, .container2,.container3{
	float: left;
	width:	33%
  }
  .container1{
  	margin-right: 3px;
  }
  .container2{
  	margin-right: 3px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container1, .container2{
  	float: left;
  	width: 50%;
  }
  .container3{
  	width: 100%;
  	float: left;
  }
  	
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .container1, .container2,.container3{
	float: left;
	width:	100%;
	
  }
  .container2, .container3{
  	margin-top: 10px;
  }

}

